/* Global style*/

:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* End global style */



body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    background-color: var(--slate-300);
    display: flex;
    justify-content: center;
}

main { 
    max-width: 375px;
    max-height: 100vh;
    background-color: var(--white);
    padding: 15px;
    border-radius: 20px;
    margin-top: 150px;
    text-align: center;
}

img {
    width: 100%;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;

}

span {
    display: block;
}

p {
    margin: 20px;
}